@charset "UTF-8";
html {
  font-size: 62.5%;
}

body {
  background-color: #F5F5F5;
  font-family: "Yu Mincho", "YuMincho", "MS PMincho", serif;
  font-size: 1.6rem;
  color: #043139;
}

a {
  text-decoration: none;
  color: #043139;
  display: inline-block;
}

img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

li {
  list-style-type: none;
}

:root {
  --size: 80px;
  --stroke: #c19554;
}
@media screen and (max-width: 800px) {
  :root {
    --size: 64px;
  }
}

header {
  display: none;
  position: fixed;
  z-index: 100;
  background-color: #104F59;
  height: 100px;
  width: 100%;
}
@media screen and (max-width: 1120px) {
  header {
    display: block;
  }
}
@media screen and (max-width: 800px) {
  header {
    height: 64px;
  }
}
header.open .label::after {
  position: absolute;
  content: "close";
}
header.open .toggle_btn .hex-svg .h1 {
  transform: rotate(212deg);
  transform-origin: inherit;
}
header.open .hamburger-menu {
  transform: translateX(0);
  opacity: 1;
}
header.open .menu-mask {
  display: block;
  opacity: 1;
}

.flex-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding-inline: 24px;
}
.flex-box .header-logo {
  width: 126px;
  height: auto;
}
@media screen and (max-width: 800px) {
  .flex-box .header-logo {
    width: 75px;
  }
}
.flex-box .header-logo img {
  width: 100%;
}

.toggle_btn {
  width: var(--size);
  height: var(--size);
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.toggle_btn .hex-svg {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
}
.toggle_btn .hex-svg .hex {
  fill: none;
  stroke: var(--stroke);
  stroke-width: 4;
  transform-origin: center;
  transition: transform 1s ease;
}
.toggle_btn .hex-svg .h1 {
  transform: rotate(0deg);
  transform-origin: inherit;
}
.toggle_btn .hex-svg .h2 {
  transform: rotate(-32deg);
  transform-origin: inherit;
}

.header-menu {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Georgia, serif;
  color: var(--stroke);
  font-size: 1.6rem;
  pointer-events: none;
}
@media screen and (max-width: 800px) {
  .header-menu {
    font-size: 1.4rem;
  }
}
.header-menu::after {
  position: absolute;
  content: "menu";
}

.hamburger-menu {
  transform: translateX(-100%);
  position: absolute;
  opacity: 0;
  width: 320px;
  height: 100vh;
  background-color: #F5F5F5;
  transition: 0.8s ease-out 0.15s, opacity 0.8s ease-out 0.15s;
  padding: 48px 32px;
}
.hamburger-menu-item {
  margin-bottom: 40px;
}
.hamburger-menu-item:active {
  transform: scale(0.8);
  transition: transform 0.4s;
}
.hamburger-menu-item a {
  display: flex;
  color: #104F59;
  font-size: 1.4rem;
  font-weight: 500;
  gap: 40px;
}
.hamburger-menu-item span {
  display: block;
}
.hamburger-menu-item .en {
  width: 64px;
  text-align: right;
  font-family: "orpheuspro";
  font-weight: 600;
}
.hamburger-menu-item .ja {
  position: relative;
}
.hamburger-menu-item .ja::before, .hamburger-menu-item .ja::after {
  content: "";
  position: absolute;
  background-color: #104F59;
  top: 50%;
  transform: translateX(-50%);
  height: 1px;
  width: 8px;
}
.hamburger-menu-item .ja::before {
  left: -6px;
}
.hamburger-menu-item .ja::after {
  right: -14px;
}

.menu-mask {
  display: none;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.8);
  transition: opacity 0.8s ease;
  z-index: 90;
}

@media screen and (max-width: 1120px) {
  .main-visual-container {
    padding-top: 100px;
  }
}
@media screen and (max-width: 800px) {
  .main-visual-container {
    padding-top: 64px;
  }
}

.g-navi {
  position: fixed;
  top: 8px;
  right: 0;
  z-index: 100;
}
@media screen and (max-width: 1120px) {
  .g-navi {
    display: none;
  }
}
@media screen and (max-width: 800px) {
  .g-navi {
    display: none;
  }
}

.tab-menu .en {
  font-family: "orpheuspro";
  font-size: 1.6rem;
  font-weight: 600;
}
.tab-menu-list {
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  align-items: stretch;
  height: 87.5px;
}
.tab-menu-item {
  background-color: #104F59;
  color: #C19554;
  writing-mode: vertical-rl;
  border-inline: solid 1px #C19554;
  border-block: solid 2px #C19554;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  text-align: center;
  transition: background-color 0.3s ease, color 0.3s ease;
  padding: 4px;
}
.tab-menu-list:last-child .tab-menu-item {
  border-bottom: solid 2px #C19554;
}

.hover-list {
  position: absolute;
  opacity: 0;
  right: 32%;
  z-index: 1;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: stretch;
  pointer-events: auto;
  transition: 0.3s ease;
}

.hover-item {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  white-space: nowrap;
  background-color: #104F59;
  color: #C19554;
  border: solid 2px #C19554;
  border-right: none;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  padding: 24px 40px;
  line-height: 1.5;
  min-height: 100%;
  transition: 0.3s ease;
}
.hover-item .ja {
  position: relative;
  font-size: 1.4rem;
}
.hover-item .ja::before,
.hover-item .ja::after {
  position: absolute;
  content: "";
  background-color: #C19554;
  top: 50%;
  width: 10px;
  height: 0.5px;
}
.hover-item .ja::before {
  left: -1.5rem;
}
.hover-item .ja::after {
  right: -1.5rem;
}

.tab-menu-list:hover .hover-list {
  opacity: 1;
  right: 0;
}

.to-top {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: end;
  z-index: 80;
  bottom: 10%;
  right: 24px;
}
.to-top .bird-wrap {
  position: relative;
}
.to-top .bird-wrap img {
  transition: opacity 0.3s ease, transform 0.3s ease;
}
.to-top .bird-wrap .normal {
  width: 75px;
  transition: opacity 0.6s ease;
}
.to-top .bird-wrap .hover {
  position: absolute;
  opacity: 0;
  inset: 0;
  transform: scale(1);
  transition: all 0.6s ease;
}
.to-top .circle {
  position: absolute;
  border: solid 2.5px #C19554;
  background-color: #104F59;
  border-radius: 50%;
  top: 70px;
  height: 64px;
  transform: scale(1) rotateY(0deg);
  transform-style: preserve-3d;
  transition: transform 0.8s cubic-bezier(0.25, 1, 0.5, 1), opacity 0.6s ease, top 0.6s ease, right 0.6s ease;
  width: 64px;
  padding: 8px;
}
.to-top .circle .arrow,
.to-top .circle p {
  backface-visibility: hidden;
  transition: transform 0.8s ease;
}
.to-top .circle .arrow {
  position: absolute;
  display: inline-block;
  width: 2px;
  height: 48px;
  right: 50%;
  top: 50%;
  transform: translateY(-48%);
  background-color: #C19554;
}
.to-top .circle .arrow::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  height: 2px;
  background-color: #C19554;
  transform: rotate(-50deg);
  transform-origin: calc(100% - 2px) 50%;
}
.to-top .circle .arrow::after {
  content: "";
  position: absolute;
  top: -3px;
  /* 棒の上端より少し上 */
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 2px solid transparent;
  border-bottom: 5px solid #C19554;
  /* 上向きの先端 */
}
.to-top .circle p {
  position: absolute;
  color: #C19554;
  writing-mode: vertical-rl;
  font-size: 1.4rem;
  font-weight: 600;
  font-family: "orpheuspro";
  top: 50%;
  left: 50%;
  transform: translateY(-50%);
}
.to-top:hover .bird-wrap .hover {
  opacity: 1;
  transform: scale(1.3) translate(6%, 2%);
}
.to-top:hover .bird-wrap .normal {
  opacity: 0;
}
.to-top:hover .circle {
  opacity: 1;
  transform: scale(1) rotateY(360deg);
}
.to-top.active .bird-wrap .hover {
  opacity: 1;
  transform: scale(1.3) translate(6%, 2%);
}
.to-top.active .bird-wrap .normal {
  opacity: 0;
}
.to-top.active .circle {
  opacity: 1;
  transform: scale(1) rotateY(360deg);
}

footer {
  position: relative;
  background-color: #104F59;
  height: 140px;
  margin-top: 120px;
}
footer .footer-container {
  margin-inline: auto;
  padding-inline: 24px;
}
footer .footer-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .footer-inner .sns-link {
  display: flex;
  align-items: center;
  gap: 24px;
}
footer .footer-inner .instagram {
  height: 60px;
}
footer .footer-inner .threads {
  height: 80px;
}
footer .footer-inner .footer-logo {
  height: 112px;
}
footer p {
  color: #C19554;
  font-size: 1.4rem;
}

section {
  padding-block: 120px 40px;
}

.container {
  max-width: 1000px;
  margin-inline: auto;
}

.title {
  position: relative;
  text-align: center;
  height: 108px;
  max-width: 640px;
  margin: 0 auto 64px;
}
.title .en {
  position: absolute;
  font-family: "orpheuspro";
  font-weight: 400;
  font-size: 9.6rem;
  color: rgba(193, 149, 84, 0.4);
  bottom: 0;
  transform: translateY(13px);
}
@media screen and (max-width: 800px) {
  .title .en {
    font-size: 4.8rem;
  }
}
.title .en.left {
  left: 24px;
}
@media screen and (max-width: 800px) {
  .title .en.left {
    left: 50%;
    transform: translateX(-50%);
  }
}
.title .en.right {
  right: 0;
}
@media screen and (max-width: 800px) {
  .title .en.right {
    right: 50%;
    transform: translateX(50%);
  }
}
.title .ja {
  position: absolute;
  font-size: 2.4rem;
  color: #104F59;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
@media screen and (max-width: 800px) {
  .title .ja {
    font-size: 1.2rem;
    bottom: -1.2rem;
  }
}
.title .ja::before,
.title .ja::after {
  position: absolute;
  display: inline-block;
  content: "";
  background-color: #104F59;
  top: 50%;
  width: 20px;
  height: 1px;
}
@media screen and (max-width: 800px) {
  .title .ja::before,
  .title .ja::after {
    width: 10px;
  }
}
.title .ja::before {
  left: -40px;
}
@media screen and (max-width: 800px) {
  .title .ja::before {
    left: -16px;
  }
}
.title .ja::after {
  right: -40px;
}
@media screen and (max-width: 800px) {
  .title .ja::after {
    right: -16px;
  }
}

.green-btn {
  position: relative;
  background-color: #104F59;
  width: 208px;
  height: 53px;
  box-shadow: 8px 8px #C19554;
  margin-block: 40px 8px;
  margin-inline: auto;
}
.green-btn .see-more-text {
  position: relative;
  z-index: 2;
  color: #C19554;
  font-family: "orpheuspro";
  font-weight: 400;
  font-size: 2.2rem;
  margin-top: 16px;
  margin-left: 48px;
}
.green-btn .arrow {
  position: absolute;
  display: inline-block;
  z-index: 2;
  width: 12px;
  height: 13px;
  right: 24px;
  top: 24px;
}
.green-btn .arrow::before,
.green-btn .arrow::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  width: 13px;
  height: 1.5px;
  background-color: #c19554;
  transform-origin: right center;
  transition: background-color 0.5s;
}
.green-btn .arrow::before {
  transform: translateY(-50%) rotate(25deg);
}
.green-btn .arrow::after {
  transform: translateY(-50%) rotate(-25deg);
}
.green-btn::after {
  content: "";
  position: absolute;
  z-index: 1;
  inset: 0;
  background: linear-gradient(70deg, #104f59 0%, #197c8c 40%, #f2dad5 105%);
  transition: opacity 0.5s;
  opacity: 0;
}
.green-btn:hover::after {
  opacity: 1;
}
.green-btn.active::after {
  opacity: 1;
}

.introduce {
  position: relative;
}
.introduce .artist {
  width: 100%;
  border-radius: 20px;
}
@media screen and (max-width: 1120px) {
  .introduce .artist {
    border-radius: 0;
  }
}
.introduce .introduce-text {
  position: absolute;
  bottom: 0;
  right: 0;
  text-align: right;
  color: #F2DAD5;
  text-shadow: -1px 3px 8px #060201;
  margin-right: 40px;
  margin-bottom: 16px;
}
@media screen and (max-width: 800px) {
  .introduce .introduce-text {
    font-size: 1.4rem;
    margin-right: 8px;
  }
}
.introduce .introduce-text .sp-br {
  display: none;
}
@media screen and (max-width: 800px) {
  .introduce .introduce-text .sp-br {
    display: inline;
  }
}

.blog-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
  gap: 10%;
}
@media screen and (max-width: 1120px) {
  .blog-wrapper {
    gap: 7%;
    padding-inline: 24px;
  }
}
.blog-wrapper article {
  position: relative;
  z-index: 0;
  height: auto;
  transition: transform 0.25s ease-out;
  padding: 16px 16px 32px;
}
.blog-wrapper article:hover {
  transform: translateY(-4px);
}
.blog-wrapper article:hover::before {
  box-shadow: 2px 2px 5px #104F59;
}
.blog-wrapper article::before, .blog-wrapper article::after {
  pointer-events: none;
}
.blog-wrapper article::before {
  content: "";
  position: absolute;
  z-index: -1;
  inset: -8px;
  background-color: #fefefe;
  border: solid 1px #104F59;
  transition: transform 0.25s ease-out;
}
.blog-wrapper article::after {
  position: absolute;
  z-index: 1;
  content: "";
  border: solid 3px #104F59;
  inset: 0;
}
.blog-wrapper article img {
  width: 100%;
  margin-bottom: 16px;
}
.blog-wrapper article h3 {
  font-size: 1.6rem;
  font-weight: normal;
  margin: 0 0 8px;
  padding: 0;
}
.blog-wrapper article time {
  font-size: 14px;
}

.subpage-top {
  position: relative;
  width: 100VW;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.subpage-top .subpage-title {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #C89A56;
}
.subpage-top .subpage-title .en {
  font-family: "orpheuspro";
  font-weight: 400;
  font-size: 9.6rem;
}
.subpage-top .subpage-title .ja {
  position: relative;
  bottom: 0;
  left: 0;
  font-size: 2rem;
  letter-spacing: 5px;
}
.subpage-top .subpage-title .ja::before {
  left: -32px;
}
.subpage-top .subpage-title .ja::after {
  right: -32px;
}
.subpage-top .subpage-title .ja::before,
.subpage-top .subpage-title .ja::after {
  position: absolute;
  display: inline-block;
  content: "";
  background-color: #C89A56;
  top: 50%;
  width: 24px;
  height: 1px;
}

.section-title-line {
  position: relative;
  width: 326px;
  margin: 0 auto 48px;
}
.section-title-line h2 {
  position: absolute;
  font-family: "orpheuspro";
  font-weight: 400;
  font-size: 2.8rem;
  color: #104F59;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.two-row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
  max-width: 800px;
  margin-inline: auto;
}

.three-row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  max-width: 1128px;
  margin-inline: auto;
}

.photo {
  position: relative;
  width: 360px;
  height: 400px;
}
.photo img {
  width: auto;
  height: 100%;
  border-radius: 10px;
}
.photo:hover .mask {
  opacity: 1;
  transition: all 0.5s ease-in-out;
}

.mask {
  position: absolute;
  opacity: 0;
  inset: 0;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 10px;
  transition: all 0.5s ease-in-out;
}
.mask .description {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -76%);
  width: 100%;
  text-align: center;
}
.mask .description h3,
.mask .description p {
  font-size: 2rem;
}
.mask .description h3 {
  margin-bottom: 72px;
}
.mask .btn {
  position: absolute;
  bottom: 15%;
  left: 50%;
  transform: translateX(-50%);
  border: solid 1px #104F59;
  border-radius: 30px;
  overflow: hidden;
  width: 180px;
  transition: background-image 0.5s ease;
  padding: 8px 16px;
}
.mask .btn p,
.mask .btn .arrow {
  position: relative;
  z-index: 1;
}
.mask .btn p {
  font-size: 2rem;
}
.mask .btn .arrow {
  position: absolute;
  display: inline-block;
  z-index: 2;
  width: 12px;
  height: 13px;
  right: 24px;
  top: 50%;
  transform: translateY(-50%);
}
.mask .btn .arrow::before,
.mask .btn .arrow::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  width: 13px;
  height: 1px;
  background-color: #043139;
  transform-origin: right center;
}
.mask .btn .arrow::before {
  transform: translateY(-50%) rotate(25deg);
}
.mask .btn .arrow::after {
  transform: translateY(-50%) rotate(-25deg);
}
.mask .btn::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: radial-gradient(at 34% 41%, #F8E2DD, transparent), radial-gradient(at 28% 0%, #FEFEFE, transparent), radial-gradient(at 55% 66%, #FEFEFE, transparent), radial-gradient(at 73% 56%, #197c8c, transparent);
  opacity: 0;
  transition: opacity 0.5s ease;
  z-index: 0;
}
.mask .btn:hover::before {
  opacity: 1;
}

.subpage-btn {
  position: relative;
  display: block;
  border: solid 1px #104F59;
  border-radius: 30px;
  overflow: hidden;
  width: 334px;
  transition: background-image 0.5s ease;
  margin-inline: auto;
  padding: 8px 24px;
}
.subpage-btn p,
.subpage-btn .arrow {
  position: relative;
  z-index: 1;
}
.subpage-btn p {
  font-size: 2rem;
}
.subpage-btn .arrow {
  position: absolute;
  display: inline-block;
  z-index: 2;
  width: 12px;
  height: 13px;
  right: 24px;
  top: 50%;
  transform: translateY(-50%);
}
.subpage-btn .arrow::before,
.subpage-btn .arrow::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  width: 13px;
  height: 1px;
  background-color: #043139;
  transform-origin: right center;
}
.subpage-btn .arrow::before {
  transform: translateY(-50%) rotate(25deg);
}
.subpage-btn .arrow::after {
  transform: translateY(-50%) rotate(-25deg);
}
.subpage-btn::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: radial-gradient(at 34% 41%, #F8E2DD, transparent), radial-gradient(at 28% 0%, #FEFEFE, transparent), radial-gradient(at 55% 66%, #FEFEFE, transparent), radial-gradient(at 73% 56%, #197c8c, transparent);
  opacity: 0;
  transition: opacity 0.5s ease;
  z-index: 0;
}
.subpage-btn:hover::before {
  opacity: 1;
}

.subpage-top.works-page {
  background-image: url(../img/works-top.jpg);
}
.subpage-top.works-page .subpage-title {
  top: 6%;
  left: 11%;
}

.subpage-top.order-page {
  background-image: url(../img/order-top.jpg);
  background-position: bottom;
}
.subpage-top.order-page .subpage-title {
  flex-direction: row;
  align-items: baseline;
  color: #104F59;
  text-shadow: 3px 3px 10px #94C7B1;
  left: 8%;
}
.subpage-top.order-page .subpage-title .ja {
  margin-left: 4em;
}
.subpage-top.order-page .subpage-title .ja::before, .subpage-top.order-page .subpage-title .ja::after {
  background-color: #104F59;
}
.subpage-top.order-page .decoration {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.8);
  top: 0;
  right: 9%;
  height: 100vh;
  width: 321px;
  text-align: center;
}
.subpage-top.order-page .decoration .sub-title {
  color: #104F59;
  font-size: 2.8rem;
  font-weight: 400;
  margin-top: 55vh;
  margin-bottom: 2em;
}

.flow-section {
  position: relative;
  max-width: 1184px;
  height: auto;
  margin: auto;
  padding-bottom: 6.4rem;
}
.flow-section .pc-bg {
  position: absolute;
  background-image: url(../img/order-damask-line.png);
  background-size: cover;
  width: 133px;
  top: 12rem;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.order-page-title {
  display: flex;
  flex-direction: column;
  margin-left: 24rem;
  margin-bottom: 6rem;
}
.order-page-title .en {
  font-family: "orpheuspro";
  font-weight: 400;
  font-size: 9.6rem;
  color: rgba(193, 149, 84, 0.4);
}
.order-page-title .ja {
  position: relative;
  font-size: 2.4rem;
  color: #104F59;
  margin-left: 2em;
}
.order-page-title .ja::before, .order-page-title .ja::after {
  position: absolute;
  display: inline-block;
  content: "";
  background-color: #104F59;
  top: 50%;
  width: 20px;
  height: 1px;
}
.order-page-title .ja::before {
  left: -1.5em;
}
.order-page-title .ja::after {
  left: 19.5em;
}

.flow-container {
  max-width: 1000px;
  margin-left: 8.6rem;
}

.flow-list li {
  position: relative;
  display: flex;
  align-items: center;
  background-color: #fff;
  margin-bottom: 72px;
  padding-block: 16px;
}
.flow-list li:not(:last-child)::after {
  position: absolute;
  content: "";
  border-top: solid 32px #104F59;
  border-left: solid 30px transparent;
  border-right: solid 30px transparent;
  bottom: -5.6rem;
  left: 10em;
}
.flow-list li:last-child {
  margin-bottom: 8rem;
}
.flow-list li .outline {
  position: relative;
  width: 40%;
  padding-left: 48px;
}
.flow-list li .outline::before {
  position: absolute;
  content: "";
  background-color: #104F59;
  width: 8px;
  height: 86px;
  top: 50%;
  transform: translateY(-50%);
  left: 24px;
}
.flow-list li .outline .en {
  font-family: "orpheuspro";
  font-weight: 400;
  font-size: 2.4rem;
}
.flow-list li .outline .ja {
  font-size: 2rem;
  padding-top: 1rem;
}
.flow-list li .detail {
  width: 60%;
}

.order-page-gallery {
  margin-bottom: 0;
}
.order-page-gallery .section-title-line h2 {
  width: 70%;
}
.order-page-gallery p {
  text-align: center;
}
.order-page-gallery .two-row {
  margin-top: 8rem;
}
.order-page-gallery .two-row .photo:not(:last-child):not(:nth-last-child(2)) {
  margin-bottom: 4rem;
}

.subpage-top.about-page {
  background-image: url(../img/about-top.jpg);
  background-position-y: -40px;
}
.subpage-top.about-page .subpage-title {
  top: 6%;
  right: 11%;
}

.about-page h2 {
  text-align: center;
  font-size: 2.4rem;
  color: #104F59;
  margin-bottom: 40px;
}

.story-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.story-wrapper img {
  width: 33%;
  border-radius: 20px;
}
.story-wrapper .story-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 16px;
  margin-left: 40px;
}
.story-wrapper .text-inner p {
  margin-bottom: 1em;
}
.story-wrapper .subpage-btn {
  width: 275px;
}

.subpage-top.blog-page {
  background-image: url(../img/blog-top.jpg);
  background-position: center;
}
.subpage-top.blog-page .subpage-title {
  bottom: 2%;
  right: 7%;
  text-shadow: 6px 8px 7px #261C12;
}

.blog-bg {
  position: relative;
}
.blog-bg::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url(../img/blog-bg.jpg);
  background-size: 100%;
}

.blog-bg article {
  margin-bottom: 80px;
}

footer.blog-page {
  margin-top: 0;
}

.single-bg {
  position: relative;
  padding-block: 80px 40px;
}
@media screen and (max-width: 1120px) {
  .single-bg {
    padding-top: 180px;
  }
}
@media screen and (max-width: 800px) {
  .single-bg {
    padding-top: 144px;
  }
}
.single-bg::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url(../img/single-bg.jpg);
  background-size: cover;
  background-position: bottom;
  z-index: -1;
}
.single-bg article {
  background-color: rgba(255, 255, 255, 0.8);
  max-width: 1000px;
  margin: auto;
}
.single-bg section {
  padding: 0;
}
.single-bg .subpage-btn {
  background-color: #fefefe;
  padding-left: 32px;
}

.single-wrapper {
  position: relative;
  margin-inline: 8rem;
  padding-block: 8rem;
}
.single-wrapper .single-img {
  position: absolute;
  width: 545px;
  z-index: 1;
}
.single-wrapper .single-title-bg {
  position: absolute;
  background-color: #104F59;
  width: 1000px;
  height: 200px;
  top: 115px;
  left: 50%;
  transform: translateX(-50%);
}
.single-wrapper .single-title-bg .single-title-inner {
  position: absolute;
  top: 16px;
  left: 656px;
  color: #F5F5F5;
}
.single-wrapper .single-title-bg .single-title-inner h1 {
  font-size: 2.4rem;
  margin-top: 48px;
}

.content {
  margin-top: 422px;
}
.content p {
  margin-bottom: 2em;
}
.content .content-img {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 5em;
  gap: 24px;
}
.content .content-img img {
  width: 264px;
  height: 264px;
  border-radius: 10px;
}

.article-list.blog-wrapper {
  position: relative;
  display: flex;
  max-width: 880px;
  margin: 160px auto 56px;
}
.article-list.blog-wrapper .arrow {
  position: absolute;
  display: inline-block;
  z-index: 2;
  width: 20px;
  height: 34px;
  top: 50%;
  transform: translateY(-50%);
}
.article-list.blog-wrapper .arrow::before, .article-list.blog-wrapper .arrow::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  width: 20px;
  height: 5px;
  background-color: #043139;
}
.article-list.blog-wrapper .arrow.left {
  left: 0;
}
.article-list.blog-wrapper .arrow.left::before, .article-list.blog-wrapper .arrow.left::after {
  transform-origin: left center;
}
.article-list.blog-wrapper .arrow.left::before {
  transform: translateY(-50%) rotate(-45deg) translateY(2px);
}
.article-list.blog-wrapper .arrow.left::after {
  transform: translateY(-50%) rotate(45deg) translateY(-2px);
}
.article-list.blog-wrapper .arrow.right {
  right: 0;
}
.article-list.blog-wrapper .arrow.right::before, .article-list.blog-wrapper .arrow.right::after {
  transform-origin: right center;
}
.article-list.blog-wrapper .arrow.right::before {
  transform: translateY(-50%) rotate(45deg) translateY(2px);
}
.article-list.blog-wrapper .arrow.right::after {
  transform: translateY(-50%) rotate(-45deg) translateY(-2px);
}
.article-list.blog-wrapper article::after {
  background-color: #fefefe;
  z-index: -1;
}

footer.blog-page {
  margin-top: 0;
}

.subpage-top.contact-page {
  height: 400px;
  background-image: url(../img/contact-top.jpg);
  background-position: bottom;
  background-attachment: scroll;
}
.subpage-top.contact-page .subpage-title {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #104F59;
}
.subpage-top.contact-page .subpage-title .en {
  text-shadow: -2px 3px 4px #F4F5F0;
}
.subpage-top.contact-page .subpage-title .ja {
  text-shadow: -1px 2px 2px #F4F5F0;
}
.subpage-top.contact-page .subpage-title .ja::before, .subpage-top.contact-page .subpage-title .ja::after {
  background-color: #104F59;
}

.contact-bg {
  position: relative;
  background-image: url(../img/contact-bg.png);
  background-size: cover;
}
.contact-bg::before {
  position: absolute;
  content: "";
  width: 100%;
  top: 850px;
  height: 600px;
  background: #104F59;
}

.contactform-section {
  position: relative;
  padding-top: 260px;
}
@media screen and (max-width: 800px) {
  .contactform-section {
    padding-top: 186px;
  }
}
.contactform-section .contactform-title {
  position: absolute;
  top: -56px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  font-size: 2rem;
  z-index: 20;
}
@media screen and (max-width: 800px) {
  .contactform-section .contactform-title {
    top: -16px;
    font-size: 1.4rem;
  }
}

.contactframe {
  position: relative;
  text-align: center;
  border: solid 1px #104F59;
  background: #f5f5f5;
  left: 50%;
  transform: translateX(-50%);
  width: 902px;
  height: 888px;
}
@media screen and (max-width: 800px) {
  .contactframe {
    width: 298px;
    height: 764px;
  }
}
.contactframe::before, .contactframe::after {
  position: absolute;
  content: "";
}
.contactframe::before {
  top: -168px;
  left: 50%;
  transform: translateX(-50%);
  width: 769px;
  height: 489px;
  border: 1px solid #104F59;
  border-radius: 50%;
  background: #f5f5f5;
}
@media screen and (max-width: 800px) {
  .contactframe::before {
    top: -55px;
    width: 262px;
    height: 180px;
  }
}

.frame {
  position: absolute;
  display: block;
  left: 50%;
  transform: translateX(-50%);
}
.frame.outer {
  top: 251px;
  width: 918px;
  height: 904px;
  background: #f5f5f5;
}
@media screen and (max-width: 800px) {
  .frame.outer {
    width: 301px;
    height: 760px;
  }
}
.frame.outer::before, .frame.outer::after {
  position: absolute;
  content: "";
  left: 50%;
  transform: translateX(-50%);
  width: 798px;
  height: 530px;
  border-radius: 50%;
  background: #f5f5f5;
}
@media screen and (max-width: 800px) {
  .frame.outer::before, .frame.outer::after {
    width: 262px;
    height: 174px;
  }
}
.frame.outer::before {
  top: -167px;
}
@media screen and (max-width: 800px) {
  .frame.outer::before {
    top: -122px;
  }
}
.frame.outer::after {
  bottom: -167px;
}
@media screen and (max-width: 800px) {
  .frame.outer::after {
    bottom: -140px;
  }
}
.frame.top {
  top: 0;
  height: 16px;
  width: 840px;
  background: #f5f5f5;
}
.frame.top::before {
  position: absolute;
  content: "";
  top: -144px;
  left: 50%;
  transform: translateX(-50%);
  width: 734px;
  height: 472px;
  border: 3px solid #104F59;
  border-radius: 50%;
  background: #f5f5f5;
}
@media screen and (max-width: 800px) {
  .frame.top::before {
    top: -48px;
    width: 252px;
    height: 180px;
  }
}
.frame.bottom {
  bottom: -168px;
  width: 769px;
  height: 489px;
  border: 1px solid #104F59;
  border-radius: 50%;
  background: #f5f5f5;
}
@media screen and (max-width: 800px) {
  .frame.bottom {
    width: 262px;
    height: 180px;
  }
}
.frame.bottom::before, .frame.bottom::after {
  position: absolute;
  content: "";
  left: 50%;
  transform: translateX(-50%);
}
.frame.bottom::before {
  bottom: 168px;
  height: 16px;
  width: 840px;
  background: #f5f5f5;
}
.frame.bottom::after {
  bottom: 24px;
  width: 734px;
  height: 472px;
  border: 3px solid #104F59;
  border-radius: 50%;
  background: #f5f5f5;
}
@media screen and (max-width: 800px) {
  .frame.bottom::after {
    bottom: 209px;
    width: 252px;
    height: 180px;
  }
}

form {
  position: absolute;
  width: 862px;
  height: 856px;
  top: 16px;
  left: 20px;
  border: solid 3px #104F59;
  background: #f5f5f5;
}
@media screen and (max-width: 800px) {
  form {
    top: 7px;
    left: 50%;
    transform: translateX(-50%);
    width: 284px;
    height: 750px;
  }
}
form::before, form::after {
  position: absolute;
  content: "";
  left: 50%;
  height: 16px;
  background: #f5f5f5;
  border-radius: 10px;
}
@media screen and (max-width: 800px) {
  form::before, form::after {
    transform: translateX(0);
  }
}
form::before {
  top: -5px;
  transform: translateX(-347px);
  width: 693px;
}
@media screen and (max-width: 800px) {
  form::before {
    width: 227px;
    transform: translateX(-113px);
  }
}
form::after {
  bottom: -7px;
  transform: translateX(-345px);
  width: 688px;
}
@media screen and (max-width: 800px) {
  form::after {
    transform: translateX(-115px);
    width: 230px;
    border-radius: 0 0 32px 32px;
  }
}

.contactform-list {
  display: grid;
  grid-template-columns: 35% 1fr;
  align-items: center;
  gap: 32px;
  padding: 80px 72px 80px 104px;
}
@media screen and (max-width: 1120px) {
  .contactform-list {
    grid-template-columns: 1fr;
    align-items: start;
    padding: 56px 20px 40px;
    gap: 4px;
  }
}
.contactform-list .item-title {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 100%;
  gap: 24px;
  letter-spacing: -0.2rem;
  padding-right: 56px;
}
@media screen and (max-width: 1120px) {
  .contactform-list .item-title {
    justify-content: left;
    width: 100%;
    padding-bottom: 8px;
  }
  .contactform-list .item-title:not(:first-child), .contactform-list .item-title.align-top:not(:first-child) {
    margin-top: 16px;
  }
}
.contactform-list .item-title.align-top {
  align-self: start;
  margin-top: 8px;
}
.contactform-list .item-title .label {
  display: flex;
  justify-content: center;
  align-items: anchor-center;
  width: 48px;
  height: 32px;
  border-radius: 10px;
  font-size: 1.4rem;
  font-family: Yu Gothic;
  font-weight: bold;
  letter-spacing: 0.1rem;
  color: #f5f5f5;
}
@media screen and (max-width: 800px) {
  .contactform-list .item-title .label {
    height: 24px;
  }
}
.contactform-list .item-title .label.required {
  background-color: #FF7328;
}
.contactform-list .item-title .label.optional {
  background-color: #838383;
}
.contactform-list .input-field {
  width: 100%;
  border: solid 0.5px rgba(4, 49, 57, 0.6);
  padding: 8px 16px;
}
@media screen and (max-width: 1120px) {
  .contactform-list .input-field {
    width: 100%;
    padding-block: 4px;
  }
}
.contactform-list .input-field input {
  width: 100%;
}
.contactform-list .input-field input[type=text] {
  height: 1.6rem;
}
.contactform-list .input-field.massage {
  height: 240px;
  width: 100%;
}
@media screen and (max-width: 800px) {
  .contactform-list .input-field.massage {
    height: 136px;
  }
}
.contactform-list .input-field.massage textarea {
  height: 100%;
  width: 100%;
}
.contactform-list .input-field.attachment {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  padding: 0;
}
.contactform-list .input-field.attachment input[type=file] {
  display: block;
  width: auto;
  margin: 0 auto;
}

.submit-button {
  text-align: center;
}

input[type=submit] {
  z-index: 10;
  font-size: 2rem;
  font-family: Yu Gothic;
  font-weight: bold;
  color: #f5f5f5;
  background-color: #FF7328;
  border-radius: 10px;
  width: 160px;
  height: 36px;
  margin-top: 40px;
}

.contact-page-footer {
  margin-top: 255px;
}
.contact-page-footer::before {
  position: absolute;
  content: "";
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% - 48px);
  border-top: solid 1px #C79955;
}

.index-top {
  position: relative;
  width: 100%;
  height: 100vh;
}
.index-top .index-top-img {
  width: 100%;
  height: 100%;
  display: block;
}

.logo {
  position: absolute;
  border: solid 3px #C79955;
  background-color: #104F59;
  border-radius: 50%;
  height: clamp(100px, 17vw, 214px);
  width: clamp(100px, 17vw, 214px);
  right: 50%;
  top: 50%;
  transform: translate(67%, -42%);
}
@media screen and (max-width: 1120px) {
  .logo {
    display: none;
  }
}
.logo img {
  width: 100%;
  height: auto;
  transform: translateY(25%);
}

.works {
  max-width: 1232px;
  margin-inline: auto;
  padding-inline: 16px;
}

.slide-items .slick-slide {
  transition: 0.3s ease;
  margin-inline: 8px;
}
.slide-items .slick-slide:hover {
  scale: 0.9;
  transform: rotate(-4deg);
  transition: 0.3s ease;
}
.slide-items a {
  width: 100%;
}
.slide-items .green-shadow {
  box-shadow: 8px 8px #104F59;
}
.slide-items .pink-shadow {
  box-shadow: 8px 8px #F2DAD5;
}
@media screen and (max-width: 800px) {
  .slide-items .duplication {
    display: none;
  }
}
.slide-items img {
  width: 100%;
}

.green-btn.blog {
  margin-top: 48px;
}/*# sourceMappingURL=style.css.map */