// ---------------------------- subpage-top ----------------------------

.subpage-top.order-page {
    background-image: url(../img/order-top.jpg);
    background-position: bottom;

    .subpage-title {
        flex-direction: row;
        align-items: baseline;
        color: #104F59;
        text-shadow: 3px 3px 10px #94C7B1;
        left: 8%;

        .ja {
            margin-left: 4em;

            &::before,
            &::after {
                background-color: #104F59;
            }
        }
    }

    .decoration {
        position: absolute;
        background-color: rgb(255, 255, 255, 0.8);
        top: 0;
        right: 9%;
        height: 100vh;
        width: 321px;
        text-align: center;

        .sub-title {
            color: #104F59;
            font-size: 2.8rem;
            font-weight: 400;
            margin-top: 55vh;
            margin-bottom: 2em;
        }

    }
}


// ---------------------------- flow chart ----------------------------

.flow-section {
    position: relative;
    max-width: 1184px;
    height: auto;
    margin: auto;
    padding-bottom: 6.4rem;

    .pc-bg {
        position: absolute;
        background-image: url(../img/order-damask-line.png);
        background-size: cover;
        width: 133px;
        top: 12rem;
        bottom: 0;
        left: 0;
        z-index: -1;
    }
}

.order-page-title {
    display: flex;
    flex-direction: column;
    margin-left: 24rem;
    margin-bottom: 6rem;

    .en {
        font-family: "orpheuspro";
        font-weight: 400;
        font-size: 9.6rem;
        color: rgba(193, 149, 84, 0.4);
    }

    .ja {
        position: relative;
        font-size: 2.4rem;
        color: #104F59;
        margin-left: 2em;


        &::before,
        &::after {
            position: absolute;
            display: inline-block;
            content: '';
            background-color: #104F59;
            top: 50%;
            width: 20px;
            height: 1px;
        }

        &::before {
            left: -1.5em;
        }

        &::after {
            left: 19.5em;
        }
    }
}

.flow-container {
    max-width: 1000px;
    margin-left: 8.6rem;
}

.flow-list {
    li {
        position: relative;
        display: flex;
        align-items: center;
        background-color: #fff;
        margin-bottom: 72px;
        padding-block: 16px;

        &:not(:last-child)::after {
            position: absolute;
            content: '';
            border-top: solid 32px #104F59;
            border-left: solid 30px transparent;
            border-right: solid 30px transparent;
            bottom: -5.6rem;
            left: 10em;
        }

        &:last-child {
            margin-bottom: 8rem;
        }

        .outline {
            position: relative;
            width: 40%;
            padding-left: 48px;

            &::before {
                position: absolute;
                content: '';
                background-color: #104F59;
                width: 8px;
                height: 86px;
                top: 50%;
                transform: translateY(-50%);
                left: 24px;
            }

            .en {
                font-family: "orpheuspro";
                font-weight: 400;
                font-size: 2.4rem;
            }

            .ja {
                font-size: 2rem;
                padding-top: 1rem;
            }
        }

        .detail {
            width: 60%;
        }
    }
}


// ---------------------------- order-page Gallery ----------------------------

.order-page-gallery {
    margin-bottom: 0;

    .section-title-line {
        h2 {
            width: 70%;
        }
    }

    p {
        text-align: center;
    }

    .two-row {
        margin-top: 8rem;

        .photo:not(:last-child):not(:nth-last-child(2)) {
            margin-bottom: 4rem;
        }
    }
}