@use "common";
@use "works";
@use "order";
@use "about";
@use "blog";
@use "single";
@use "contact";
@use "mixin" as m;

// ---------------------------- index-top ----------------------------

.index-top {
    position: relative;
    width: 100%;
    height: 100vh;

    .index-top-img {
        width: 100%;
        height: 100%;
        display: block;
    }
}

.logo {
    position: absolute;
    border: solid 3px #C79955;
    background-color: #104F59;
    border-radius: 50%;
    height: clamp(100px, 17vw, 214px);
    width: clamp(100px, 17vw, 214px);
    right: 50%;
    top: 50%;
    transform: translate(67%, -42%);

    @include m.tab {
        display: none;
    }


    img {
        width: 100%;
        height: auto;
        transform: translateY(25%);
    }
}


// ---------------------------- works ----------------------------

.works {
    max-width: 1232px;
    margin-inline: auto;
    padding-inline: 16px;
}

.slide-items {

    // .slick-prev,
    // .slick-next {
    //     display: none !important;
    // }

    .slick-slide {
        transition: 0.3s ease;
        margin-inline: 8px;

        &:hover {
            scale: 0.9;
            transform: rotate(-4deg);
            transition: 0.3s ease;
        }
    }

    a {
        width: 100%;
    }

    .green-shadow {
        box-shadow: 8px 8px #104F59;
    }

    .pink-shadow {
        box-shadow: 8px 8px #F2DAD5;
    }

    .duplication {
        @include m.sp {
            display: none;
        }
    }

    img {
        width: 100%;
    }
}


// ---------------------------- blog ----------------------------

.green-btn.blog {
    margin-top: 48px;
}